<?xml version="1.0" encoding="utf-8"?>
<DoubanSpider xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!--代理服务器列表-->
  <ProxyList>61.93.246.50:8080;218.57.200.15:8080;62.180.27.25:80;151.80.195.189:8080;201.243.101.119:8080</ProxyList>
  <!--获取代理服务器Url-->
  <ProxyUrl></ProxyUrl>
  <!--并发线程数-->
  <ThreadNum>1</ThreadNum>
  <!--Http请求时限ms-->
  <TimeLimit>1000</TimeLimit>
</DoubanSpider>